.menu
    .menu-left
        .logo
            img(src="", alt="")
    .menu-right
        .hamburger
        ul.menu-inner
            li
                a(href="#")
                    | Homepage
            